#!/bin/bash


set autoindent              # Auto-indent new lines
set tabsize 4               # 4 is awesome
set tabstospaces            # yes, i know :P

# Loading syntax files that I need

include "~/.config/nano/syntax_files/makefile.nanorc"
include "~/.config/nano/syntax_files/man.nanorc"
include "~/.config/nano/syntax_files/git.nanorc"

include "~/.config/nano/syntax_files/inputrc.nanorc"
include "~/.config/nano/syntax_files/nanorc.nanorc"

include "~/.config/nano/syntax_files/html.nanorc"
include "~/.config/nano/syntax_files/css.nanorc"
include "~/.config/nano/syntax_files/js.nanorc"

include "~/.config/nano/syntax_files/ruby.nanorc"
include "~/.config/nano/syntax_files/erb.nanorc"
include "~/.config/nano/syntax_files/haml.nanorc"
include "~/.config/nano/syntax_files/coffeescript.nanorc"
include "~/.config/nano/syntax_files/Dockerfile.nanorc"

include "~/.config/nano/syntax_files/json.nanorc"
include "~/.config/nano/syntax_files/xml.nanorc"
include "~/.config/nano/syntax_files/yaml.nanorc"
include "~/.config/nano/syntax_files/markdown.nanorc"

include "~/.config/nano/syntax_files/php.nanorc"
include "~/.config/nano/syntax_files/python.nanorc"
include "~/.config/nano/syntax_files/c.nanorc"
include "~/.config/nano/syntax_files/java.nanorc"
include "~/.config/nano/syntax_files/nginx.nanorc"

# Issue with repo :(
# include "~/.config/nano/syntax_files/sh.nanorc"
# include "~/.config/nano/syntax_files/zsh.nanorc"
